{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div class="container">
            
            			<div class="row">
				<div class="col-md-12">
					<p><a href="{{ path('search') }}" class="btn btn-default">Basic Search</a></p>
				</div>
			</div>

			<div class="row">
				
				{{ form_start(form) }}
				{{ form_errors(form) }}

				<div class="col-md-12">
					<div class="panel panel-primary">
						<div class="panel-heading">
							<h3 class="panel-title">Keyword</h3>
						</div>
						<div class="panel-body">
							{{ form_row(form.keyword) }}
						</div>
					</div>

					<div class="panel panel-primary">
						<div class="panel-heading">
							<h3 class="panel-title">Document</h3>
						</div>
						<div class="panel-body">
							{{ form_row(form.repository) }}
							{{ form_row(form.accession_number) }}
							{# {{ form_row(form.documentType) }} #}
							<div class="row">
								<div class="col-md-6">	
									{{ form_row(form.yearStart) }}
								</div>
								<div class="col-md-6">	
									{{ form_row(form.yearEnd) }}
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">	
									{{ form_row(form.waxCountStart) }}
								</div>
								<div class="col-md-6">	
									{{ form_row(form.waxCountEnd) }}
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">	
									{{ form_row(form.impressionCountStart) }}
								</div>
								<div class="col-md-6">	
									{{ form_row(form.impressionCountEnd) }}
								</div>
							</div>
							{#
							<div class="row">
								<div class="col-md-6">	
									{{ form_row(form.printCountStart) }}
								</div>
								<div class="col-md-6">	
									{{ form_row(form.printCountEnd) }}
								</div>
							</div>
							#}
						</div>
					</div>

				</div>
			</div>

			<div class="row">

				<div class="col-md-6">

					<div class="panel panel-primary">
						<div class="panel-heading">
							<h3 class="panel-title">Wax</h3>
						</div>
						<div class="panel-body">
							{# {{ form_row(form.waxAttachmentSideES) }} #}
							{{ form_row(form.waxAttachmentTypeES) }}
							{{ form_row(form.waxColourES) }}
							{{ form_row(form.waxConditionES) }}
							{# {{ form_row(form.wasHasImprintsES) }} #}
							{{ form_row(form.matchingprints) }}
							{{ form_row(form.getGoodprint) }}
							{{ form_row(form.getPartialprint) }}
						</div>
					</div>
				</div>
				<div class="col-md-6">

					<div class="panel panel-primary">
						<div class="panel-heading">
							<h3 class="panel-title">Impression</h3>
						</div>
						<div class="panel-body">
							{{ form_row(form.impressionShapeES) }}
							{{ form_row(form.impressionConditionES) }}
							<div class="row">
								<div class="col-md-6">	
									{{ form_row(form.widthStart) }}
								</div>
								<div class="col-md-6">	
									{{ form_row(form.widthEnd) }}
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">	
									{{ form_row(form.heightStart) }}
								</div>
								<div class="col-md-6">	
									{{ form_row(form.heightEnd) }}
								</div>
							</div>
							{{ form_row(form.matchingimpressions) }}
						</div>
					</div>

					{#
					<div class="panel panel-primary">
						<div class="panel-heading">
							<h3 class="panel-title">Matrix</h3>
						</div>
						<div class="panel-body">
							{{ form_row(form.impressionPeopleES) }}
							{{ form_row(form.impressionPersonTypeES) }}
						</div>
					</div>
					#}

				</div>
        	</div>
        	<div class="row">
				<div class="col-md-6">	
					{{ form_row(form.resetForm) }}
				</div>
				<div class="col-md-6">	
					{{ form_row(form.search) }}
				</div>
			</div>
        </div>
    </div>
{% endblock %}
