{% extends 'base.html.twig' %}

{% block title %}{{ song.title }} - {% endblock %}

{% block body %}

	<div class="container">

		<h1>{{ song.title }}</h1>
		<h2>
			{% for person in song.getpersons() %}
				<a href="{{ path('show_person', {id: person.id}) }}">
					{{ person }}</a>{% if loop.last == false %},{% endif %}
			{% endfor %}
			{% if song.hasViewData() %}
				<a href="{{ path('view_song', {id: song.id}) }}"><small class="text-success">Song Viewer Available</span></a>
			{% endif %}
			{% if song.getDatingString() is not empty %}
				<br>
				<small class="text-muted">{{ song.getDatingString() }}</small>
			{% endif %}
		</h2>
		<br>
		<table class="table">
			<tbody>

				{% if song.publications is not empty %}
					<tr>
						<th scope="row"><h3>Publications</h3></th>
						<td>
							<ul>
								{% for publication in song.publications %}
									<li>
										<i>{{ publication.title }}</i>
										({{ publication.getDatingString() }})
									</li>
								{% endfor %}
							</ul>
						</td>
					</tr>
				{% endif %}

				{% if song.recordings is not empty %}
					<tr>
						<th scope="row"><h3>Recordings</h3></th>
						<td>
							<ul>
								{% for recording in song.recordings %}
									<li>{{ recording }}</li>
								{% endfor %}
							</ul>
						</td>
					</tr>
				{% endif %}

				{% if song.repositorys is not empty %}
					<tr>
						<th scope="row"><h3>Repositories</h3></th>
						<td>
							<ul>
								{% for repository in song.repositorys %}
									<li>{{ repository }}</li>
								{% endfor %}
							</ul>
						</td>
					</tr>
				{% endif %}

				{% if song.poems is not empty %}
					<tr>
						<th scope="row"><h3>Poems</h3></th>
						<td>
							{% for poem in song.poems %}
								<a href="{{ path('show_poem', {id: poem.id}) }}">{{ poem }}</a>{% if loop.last == false %},{% endif %}
							{% endfor %}
						</td>
					</tr>
				{% endif %}




				{% if song.catalogueLink is not empty %}
					<tr>
						<th scope="row"><h3>Catalogue</h3></th>
						<td>
							<a target="_blank" href="{{ song.catalogueLink }}">{{ song.catalogueLink }}</a>
						</td>
					</tr>
				{% endif %}

				{% if song.spotifyLink is not empty %}
					<tr>
						<th scope="row"><h3>Spotify</h3></th>
						<td>
							<a target="_blank" href="{{ song.spotifyLink }}">{{ song.spotifyLink }}</a>
						</td>
					</tr>
				{% endif %}







				{% if song.langs is not empty %}
					<tr>
						<th scope="row"><h3>Languages</h3></th>
						<td>
							{% for lang in song.langs %}
								{{ lang }}{% if loop.last == false %},{% endif %}
							{% endfor %}
						</td>
					</tr>
				{% endif %}


				{% if song.scorings is not empty %}
					<tr>
						<th scope="row"><h3>Scorings</h3></th>
						<td>
							{% for scoring in song.scorings %}
								{{ scoring }}{% if loop.last == false %},{% endif %}
							{% endfor %}

						</td>
					</tr>
				{% endif %}

				{% if song.genres is not empty %}
					<tr>
						<th scope="row"><h3>Genres</h3></th>
						<td>
							{% for genre in song.genres %}
								{{ genre }}{% if loop.last == false %},{% endif %}
							{% endfor %}

						</td>
					</tr>
				{% endif %}

				{% if song.tessitura is not empty %}
					<tr><th scope="row"><h3>Tessitura</h3></th><td>{{ song.tessitura }}</td></tr>
				{% endif %}

				{% if song.premiere is not empty %}
					<tr><th scope="row"><h3>Premiere</h3></th><td>{{ song.premiere }}</td></tr>
				{% endif %}

				{% if song.tonality is not empty %}
					<tr><th scope="row"><h3>Tonality</h3></th><td>{{ song.tonality }}</td></tr>
				{% endif %}

				{% if song.notes is not empty %}
					<tr><th scope="row"><h3>Notes</h3></th><td>{{ song.notes }}</td></tr>
				{% endif %}

			</tbody>
		</table>
	</div>

{% endblock %}
